<h2>Login usuarios:</h2>
<hr>
<form action="">
    <div id="mensaje"></div>
    <input type="email" name="email" id="email" placeholder="correo electrónico">
    <input type="password" name="password" id="password" placeholder="contraseña">
    <br>
    <br>
    <input type="submit" value="Ingresar" id="btnSubmit">
</form>

<br>
<a href="/api/sessions/github">Acceso con Github</a>

<br>
{{>menu}}

<script src="/js/login.js"></script>





